html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 930px;
  background-color: rgb(220, 20, 60);
  margin-bottom: 50px;
}

.card-deck .card {
  min-width: 220px;
}
